#category_updates {
  display:flex;
  justify-content:center;  
}
#available-options, #edit-list-of-images {
  height: 300px;
  width: 100%; 
}

.AvailableOptions, .CurrentOptions {
    width:40%
}

.transferButtons {
  margin-right: 30px;
  margin-left: 30px;
    width:20%
}

.transferButtons{
  float:left; 
  align-self:center;
}


.transferButtons input[type=button] {
      -webkit-appearance: none;
    height: 30px;
    background-color:#FFF;
    color:#333;
    font-weight:bold;
    border: solid #999 1px;
    font-size: 11px;
    cursor: pointer;
    width: 50%;
    text-align: center;
}


.transferButtons input[type=button]:hover {
        font-weight: bold;
    background-color:#f1f1f1;
    color:#333;
}


#edit-list-of-categories {
    width: 200px;
}

#category_name {
      display:flex;

      justify-content:center;
}


#category_updates {
    font-size: 12px;
    
}