{% extends "personal/header.html" %}

{% block content %}


<div id="matrix_dimensions_div">    
    <label for="input_matrix_dimensions" style="width:146px;">Matrix dimensions:</label>
    <input type="number" min=1 id="input_matrix_dimensions" value='{{dimensions}}' onchange="updateDimensions()" style="width:50px;">       
    <button type="button" id="set_dimensions" onclick="set_dimensions()" style="width:150px;">Set dimensions</button>  
</div>

<br>
    
<div name="matrix_and_save_div">
    
    <form action="" method="post">
        {% csrf_token %}
        
        <div name="hidden_fields_div">
            <input type="text" name="selected_categories" id="selected_categories">
            <input hidden type="number" id="matrix_dimensions" name="matrix_dimensions" value='{{dimensions}}'>
            <input hidden type="submit" name="Save" value="Save" id="save_hidden">
        </div>

        
        <div id="matrix_input_div">
            <textarea name="input_matrix" id="input_matrix">{{matrix}}</textarea>
            <button type="button" onclick="image_from_matrix()">Create drawing</button>
        </div>
        
        {% if matrix_input != '0' %}
        <br>    
        <br>
        {% endif %}
        
        

        
        <div name="category_creation_div">
            <input type="text" name="categoryfield" id="categoryfield" placeholder="Category name" style="width:200px;">
            <button type="submit" name="CreateCategory" value="Create Category" id="create_category" style="width:150px;">Create Category</button>
        </div>

        
        <br>
        <div name="save_image_div">
            <input id="namefield" type="text" name="namefield", placeholder="Name to save as" style="width:200px;">
            <button type="button" onclick="save_shown()" id="save shown" style="width:150px;">Save</button>
        </div>

    </form>

    
    
    <br>

    
    
    
    
    
    
    
        <div class = "dropdown" name="category_selection_div">
            <button class="dropbtn">Filter by Category</button>
            <div class="dropdown-content" id="categories">
                {% for category in category_list %}
    <label class="label-container category-option">{{category.category_name}}
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
                {% endfor %}
            </div>
    </div>

    
    
    
    
    
    
    
    
    
    
</div>


<br>

<div name="colors_and_brushes">
  

  <img src="https://www.clipartkey.com/mpngs/m/98-980616_paint-brush-paint-brush-black-and-white.png" id="brushimage" width="34" height="34" style="border:3px solid darkblue">
  
  <img src="https://www.clipartmax.com/png/middle/105-1057105_how-to-set-use-paint-can-and-brush-svg-vector-paint-bucket.png" alt="Paint bucket" id="bucketimage" width="34" height="34" style="border:1px solid black">

  
  <svg width="34" height="34"><rect id="selected color box" width="34" height="34" style="fill:#FFFFFF;stroke-width:5;stroke:rgb(0,0,0)" /> </svg>
  <canvas id="colorCanvas" width="224" height="32" style="border:1px solid #000000;"/>
  
</div>

<br>

<div id = "canvas-buttons">
    <input type="button" id="clear" value="Clear"/>
    <button onclick="invert_colors()">⇵</button>
    <button onclick="shift_left()">←</button>
    <button onclick="shift_right()">→</button>
    <button onclick="shift_up()">↑</button>
    <button onclick="shift_down()">↓</button>
    <button onclick="rotate_canvas_left()">↶</button><button onclick="rotate_canvas_right()">↷</button>
    <button onclick="undoLastAction()">Undo</button>
    <button onclick="redoLastAction()">Redo</button>
</div>

<br>

<div class = "dropdown" name="categorylinks_div">
  <button class="dropbtn">Filter by Category</button>
  <div class="dropdown-content">
    <a href="/">all</a>
    {% for category in category_list %}
    <a href="/?category={{category.category_name}}">{{category.category_name}}</a>
    {% endfor %}
  </div>
</div>
<br>
<div name="selections_for_load_div" style="width:200px; height:266px; float:left" class="list-group">
    <select style="height:256px; width:200px" id = "list-of-images" size="5">  
        {% for matrix in matrix_list %}
        <option value='{{matrix.matrix_name}}'> {{matrix.matrix_name}} </option>  
        {% endfor %}
    </select>  

    <button type="button" onclick="load_shown()">Load</button>
    
    <form action="" method="post" name="load_drawing_form" style="height:10px" >
        {% csrf_token %}
        <input hidden name="selected_matrix_name" id="selected_matrix_name">
        <input hidden type="submit" name="Load" value='Load' id="load_hidden">
    </form> 
    

    
</div>

<div name="drawingcanvas_div" style="float:left; width=256px; padding-left: 25px">  
  <canvas id="drawingCanvas" width="256" height="256" style="border:1px solid #000000;"/>
</div>







{% endblock %}